<div class="content-wrapper">
  <app-banner pageTitle="Portfolio"></app-banner>

  <div class="card-separator">
      <mat-card>
        <mat-card-title>Software Development</mat-card-title>
        <mat-card-subtitle>This Website!</mat-card-subtitle>
        <mat-card-content>It's comprised of an Angular frontend in material design + Python webapp2 backend.</mat-card-content>
        <mat-card-subtitle>iOS Poleshed Application</mat-card-subtitle>
        <mat-card-content>
            I began creation of this iOS app in July of 2015 for <a href="http://www.bakkecontracting.com/">Bakke Contracting</a>. The first version of the app launched at the end of August, it's functionality allowed the user to calculate material amounts and costs for custom poleshed designs. I have released several more versions since then.
            This app was written in a mixture of both Swift and Objective-C.
        </mat-card-content>
        <mat-card-subtitle>GameJam Video Games</mat-card-subtitle>
        <mat-card-content>I've attended a number of game jams in the past (48-hour video game creation events with teams of 4-5), below are links to some of my games from these prior jams!
          <mat-list>
            <mat-list-item>
              <a href="http://gamewithus.ca/games/?gameID=96">Red Shift (October 2016)</a>
            </mat-list-item>
            <mat-list-item>
              <a href="http://gamewithus.ca/games/?gameID=86">Swap (February 2016)</a>
            </mat-list-item>
            <mat-list-item>
              <a href="http://gamewithus.ca/games/?gameID=62">Fish out of water (September 2015)</a>
            </mat-list-item>
            <mat-list-item>
              <a href="http://gamewithus.ca/games/?gameID=40">Brawlin' Beats (February 2015)</a>
            </mat-list-item>
          </mat-list>
        As well, three of my colleagues and I developed a puzzle video game for one of our courses over a period of 3 months. You can download and try it out <a href="https://www.dropbox.com/s/aa42jbs8ofox0sz/FlashNight.zip?dl=0">here</a>!  
      </mat-card-content>
      </mat-card>
    </div>
</div>