<div class="content-wrapper">
	<!-- <app-banner pageTitle="About"></app-banner> -->

	<div class="card-separator">
		<div class="horizontal-wrapper">
			<div class="horizontal-item">
				<mat-card>
					<img mat-card-image class="profile-pic"
						src="https://storage.googleapis.com/shanew/cdn/website/Shane%20Williamson%202016-2.jpg">
				</mat-card>
			</div>
			<div class="horizontal-item">
				<mat-card>
					<mat-card-title>Introduction</mat-card-title>
					<mat-card-content>
						<div class="text-wrapper">
							<div class="text-block">
								Hello there! My name is Shane Williamson.

								I'm a Software Developer from Saskatoon, SK, Canada. I currently work for <a
									href="https://www.vendasta.com/">Vendasta Technologies</a>.
							</div>

							<div class="text-block">
								I studied at the University of Saskatchewan, as well as abroad in Japan at the University of Tsukuba. I
								graduated from the U of S with a Bachelor of Science degree in Computer Science.
							</div>

							<div class="text-block">
								I also am a <a href="http://bcert.me/pgdofwvv" target="_blank">Certified ScrumMaster®</a> and have
								completed the CSM® training course offered by a Certified Scrum Trainer®.
							</div>

							<div class="text-block">
								In some of my spare time I hack on cool cloud technologies, games, and an abundance of other pet
								projects.
							</div>

							<div class="text-block">
								Check out my <a href="https://medium.com/@williamson.shane.a" target="_blank">Medium blog profile</a>.
								I've created content for Vendasta in the past, and will be contributing more in the future.

								I also dabbled around with a <a href="http://foobarbaz.ca/" target="_blank">personal blog</a>. It's a
								mixture between tech and travel.
							</div>

							<div class="text-block">
								I'm a full-stack developer with experience in Google's Cloud Platform with Golang, Python, Angular, and
								Kubernetes.

								<br>
								I also have some experience with developing mobile software for iOS. During a freelance
								period I created an iOS app for a company called

								<a class="text-link" href="http://www.bakkecontracting.com/">Bakke Contracting</a>. (More info

								<a class="text-link" href="/#/portfolio">here</a>)
							</div>
							<div class="text-block">
								I am a hard worker who upholds a professional and mature attitude throughout the development life cycle.
								As well, I firmly believe that interpersonal skills and communication are key factors to success.
							</div>

						</div>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
	</div>
</div>