.content-wrapper {
    margin: 15px;
}

.card-separator {
    margin: 15px 0;
}

.text-block {
    margin: 0 0 15px 0;
}

.horizontal-wrapper {
    display: flex;
    flex-direction: row;
}

.horizontal-item {
    flex-grow: 1;
    margin: 0 15px 0 0;
    
}

.horizontal-item:last-child {
    margin: 0;
}
