.content-wrapper {
    margin: 15px;
}

.card-separator {
    margin: 15px 0;
}

.text-block {
    margin: 0 0 15px 0;
}

@media only screen and (min-width: 768px) {
    .horizontal-wrapper {
        display: flex;
        flex-direction: row;
    }

    .horizontal-item {
        flex-grow: 1;
        margin: 0 15px 0 0;
    }

    .horizontal-item:last-child {
        margin: 0;
    }

    .profile-pic {
        margin-bottom: -28px !important;
        max-width: 580px;
        max-height: 580px;
    }
}

@media only screen and (max-width: 767px) {
    .horizontal-wrapper {
        display: flex;
        flex-direction: column;
    }
}

.profile-pic {
    margin-bottom: -28px !important;
}
