<div class="content-wrapper">
    <div class="card-separator">
        <mat-card>
            <mat-card-title>Shane Williamson ~ About</mat-card-title>
        </mat-card>
    </div>

    <div class="card-separator">
        <div class="horizontal-wrapper">
            <div class="horizontal-item">
                <mat-card>
                    <img mat-card-image class="profile-pic" src="https://space-station.nyc3.digitaloceanspaces.com/Shane Williamson 2016-1.jpg">
                </mat-card>
            </div>
            <div class="horizontal-item">
                <mat-card>
                    <mat-card-title>Hello!</mat-card-title>
                    <mat-card-content>
                        <div class="text-wrapper">
                            <div class="text-block">
                                Hello there! My name is Shane Williamson. I am a Computer Science student at the University of Saskatchewan. After finishing my 16-month internship at

                                <a href="https://www.vendasta.com/">Vendasta Technologies</a>

                                I'm back at the University to finsih my Bachelor's Degree at the U of S
                            </div>

                            <div class="text-block">
                                Most of my experience is as a full-stack web developer in Google AppEngine with Python, KnockoutJS, and Angular.
    
                                <br>
                                I also have experience with developing mobile software for both iOS and Android. During a freelance period I created an iOS app for a company called
    
                                <a class="text-link" href="http://www.bakkecontracting.com/">Bakke Contracting</a>. (More info
    
                                <a
                                    class="text-link"
                                    href="http://www.shanewilliamson.ca/Portfolio.html"
                                >here</a>)
                            </div>
                            <div class="text-block">
                                I am a hard worker who upholds a professional and mature attitude throughout the development life cycle. As well, I firmly believe that interpersonal skills and communication are key factors to success.
                            </div>
                            <div class="text-block">
                                You should check out my <a href="http://foobarbaz.ca/">blog</a>! I just got it up and rolling recently.
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                </div>
            </div>
    </div>
</div>